#body{
    background-color: white;
}
#title{
    display: inline-block;
    font-style: normal;
    font-family: sans-serif;
    background-color: lightblue;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
#menu{
    display: inline-block
}
.logo{
    width: 140px;
    height: 70px;
}
#titlebar{

}
/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    top: 28px;
    right: 15px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.flight_details{
    padding: 10px 10px 10px 10px
}
.trip_type{
    display: inline-block;
    padding-right: 30px;
}
.passenger_type{
    display: inline-block;
    padding-right: 30px;
}
.class_type{
    display: inline-block;
}


.topnav {
    overflow: hidden;
    background-color: lightblue;
    margin-top: 30px;
/*    margin-left: 30px;*/
/*    margin-right: 30px;*/
    padding: 10px 50px 40px 60px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    width: 280px;
}
.topnav input[type=date] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 14px;
    width: 200px;
}
.topnav input[type=submit] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 14px;
    width: 100px;
}
.topnav_hotel 

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}
.suggestion_div{
    background-color: lightblue;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 30px;
}
.space{
    height: 20px;
}
.suggestions{
    display: inline-block;
    padding: 40px 70px 50px 70px;
    margin-left: 80px;
    margin-right: 80px;
}

.sugg1{
    display: inline-block;
    border-width: thick;
    border-color: aqua;
    background-color: #3498DB;
    color: white;
    padding: 10px 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    height: 250px;
    width: 250px;
    margin-right: 30px;
}
.sugg2{
    display: inline-block;
    border-width: thick;
    border-color: aqua;
    background-color: #3498DB;
    color: white;
    padding: 15px 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    height: 250px;
    width: 250px;
    margin-right: 30px;
}
.sugg3{
    display: inline-block;
    border-width: thick;
    border-color: aqua;
    background-color: #3498DB;
    color: white;
    padding: 15px 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    height: 250px;
    width: 250px;
}
.lt_arrow{
    display: inline-block;
    font-size: 77px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.rt_arrow{
    display: inline-block;
    font-size: 77px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.sugg_pic{
    width: 240px;
    height: 170px;
    
}
.sugg_info{
    display: inline-block;
    float: left;
    border: 2px solid black;
    height: 60px;
    width: 150px;
}
.sugg_price{
    display: inline-block;
    float: right;
    border: 2px solid black;
    height: 60px;
    width: 80px;
}