<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  <title>Flights</title>

</head>
<body>
<app-navbar></app-navbar>

<form (ngSubmit) = "addPassengerToList($event)" >
  <div class="row" style="padding: 20px 20px 0px 20px;">
    <div class="col-sm-9">
      <div class="card">
        <div class="card-header">Passenger Info</div>
        <table id="myTable">
          <tr>
            <td>
              <label for="firstName" >First Name</label>
            </td>
            <td>
              <label for="lastName" >Last Name</label>
            </td>
            <td>
              <label for="age" >Age</label>
            </td>
            <td>
              <label for="gender" >Gender</label>
            </td>
          </tr>
          <tr>
            <td>
             <input [(ngModel)] = "firstName1" type="text" class="form-control input_format" id="firstName1"  name="f_name">
            </td>
            <td>
              <input [(ngModel)] = "lastName1" type="text" class="form-control" id="lastName1"  name="l_name">
            </td>
            <td>
              <input [(ngModel)] = "age1" id="age1" type="text" class="form-control" name = "age1">
            </td>
            <td>
              <input [(ngModel)] = "gender1" type="text" class="form-control" name = "gender1">
            </td>
            <td>

            </td>
          </tr>
          <tr>
            <td>
              <input [(ngModel)] = "firstName2" type="text" class="form-control input_format" id="firstName2"  name="f_name">
            </td>
            <td>
              <input [(ngModel)] = "lastName2" type="text" class="form-control" id="lastName2"  name="l_name">
            </td>
            <td>
              <input [(ngModel)] = "age2" type="text" class="form-control" name = "age2">
            </td>
            <td>
              <input [(ngModel)] = "gender2" type="text" class="form-control" name = "gender2">
            </td>
            <td>

            </td>
          </tr>
          <tr>
            <td>
              <input type="text" class="form-control input_format" id="firstName3"  name="f_name">
            </td>
            <td>
              <input [(ngModel)] = "lastName3" type="text" class="form-control" id="lastName3"  name="l_name">
            </td>
            <td>
              <input [(ngModel)] = "age3" type="text" class="form-control" name = "age3">
            </td>
            <td>
              <input [(ngModel)] = "gender3" type="text" class="form-control" name = "gender3">
            </td>
            <td>

            </td>
          </tr>
          <tr>
            <td>
              <input type="text" class="form-control input_format" id="firstName4"  name="f_name">
            </td>
            <td>
              <input [(ngModel)] = "lastName4" type="text" class="form-control" id="lastName4"  name="l_name">
            </td>
            <td>
              <input [(ngModel)] = "age4" type="text" class="form-control" name = "age4">
            </td>
            <td>
              <input [(ngModel)] = "gender4" type="text" class="form-control" name = "gender4">
            </td>
            <td>

            </td>
          </tr>
          <tr>
            <td>
              <input type="text" class="form-control input_format" id="firstName5"  name="f_name">
            </td>
            <td>
              <input [(ngModel)] = "lastName5" type="text" class="form-control" id="lastName5"  name="l_name">
            </td>
            <td>
              <input [(ngModel)] = "age5" type="text" class="form-control" name = "age5">
            </td>
            <td>
              <input [(ngModel)] = "gender5" type="text" class="form-control" name = "gender5">
            </td>
          </tr>

          <tr>
            <td>
              <button type="button submit" class="btn btn-primary btn-md btn-block">Add Passengers</button>
            </td>
          </tr>
        </table>
      </div>

<!--  -->
<!--  -->
<div class="form_format" id="payment">
<form (ngSubmit) = "confirmPurchase($event)" action="#">
  <table>
    <tr>
      <td colspan="3">
        <h2>
          Credit Card Information
        </h2>
      </td>
    </tr>
    <tr>
      <td>
        <label for="card_f_name">First Name:</label>
        <input type="text" id="card_f_name" class="form-control" placeholder="Card Holder First Name">
      </td>
      <td>
        <label for="card_mi">M.I.:</label>
        <input type="text" id="card_mi" class="form-control" placeholder="M.I.">
      </td>
      <td>
        <label for="card_l_name">Last Name:</label>
        <input type="text" id="card_l_name" class="form-control" placeholder="Card Holder Last Name">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <label for="card_number">Card Number:</label>
        <input [(ngModel)] = "cardNumber" name = "cardNumber" type="number" id="card_number" class="form-control" placeholder="Card Number">
      </td>
      <td>
        <label for="card_ccv">Card CCV:</label>
        <input [(ngModel)] = "ccv" name = "ccv" type="number" id="card_ccv" class="form-control" placeholder="Card CCV">
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <label>Expiration Date</label>
        <select [(ngModel)] = "expMonth" name = "expMonth">
          <option value="01">January</option>
          <option value="02">February </option>
          <option value="03">March</option>
          <option value="04">April</option>
          <option value="05">May</option>
          <option value="06">June</option>
          <option value="07">July</option>
          <option value="08">August</option>
          <option value="09">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
        <select [(ngModel)] = "expYear" name = "expYear">
          <option value="16"> 2016</option>
          <option value="17"> 2017</option>
          <option value="18"> 2018</option>
          <option value="19"> 2019</option>
          <option value="20"> 2020</option>
          <option value="21"> 2021</option>
        </select>
      </td>
    </tr>
    <tr>
      <!-- <td colspan="2">
        <img src="../../visa.jpg" id="visa">
        <img src="../../mastercard.jpg" id="mastercard">
        <img src="../../amex.jpg" id="amex">
      </td> -->
      <td>

      </td>
    </tr>
    <tr>
      <td colspan="3">
        <button type="submit" class="btn btn-primary center" id="confirm-purchase">Confirm</button>
      </td>
    </tr>
  </table>
</form>
</div>
<!--  -->
<!--  -->

    </div>
    <!-- <div class="col-sm-1">

    </div> -->

    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-10">
          <div class="card">
            <div class="card-header text-center">Hotel Details</div>
            <img class="card-img-top" src= {{hotel.hotel.imageLink}} alt="Card image">
            <div class="card-body">

            </div>
            <div class="card-header text-center">Duration: {{hotel.hotel.startDate}} - {{hotel.hotel.endDate}}</div>
            <div class="card-body">
              <p><strong>Checking In</strong>: {{hotel.hotel.startDate}}</p>
              <p><strong>Checking Out</strong>: {{hotel.hotel.endDate}}</p>
              <p><strong>Type</strong>: {{hotel.hotel.Type}}</p>
              <p><strong>Facilities</strong>: {{hotel.hotel.Facilities}}</p>
            </div>
            <div class="card-header text-center">Price</div>
            <div class="card-body">
              <h1>${{hotel.hotel.RatePerNight}}.99</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


</body>
</html>
