body{
  font: normal 18px sans-serif;
  color: #333;
  background-color: #eee;
}
.custom_navbar{
  background-color: white;
  border-color: snow;
  font-weight: bolder;
}
.nav .active {
  background-color:blue
}
.nav-item:hover{
  color: black;
}
.nav:hover{
  color: black;
}
.navbar-nav:hover{
  color: black;
}
.login{
  float: right;
  display: inline-block;
}
.login_form{
  float: left;
  width: 400px;
}
.login_format{
  width: 300px;
}
.register_format{
  width: 300px;
}

body{
  font: normal 18px sans-serif;
  color: #333;
  background-color: #eee;
}
.pic{
  width: 100%;
  height: 350px;
}
.slideshow{
  height: 350px;
  width: 100%;
  margin-right: 50px;
/*  margin-top: 100px;*/
}
/*
.active{
  width: 100%;
  height: 350px;
}
*/
body{
  font: normal 18px sans-serif;
  color: #333;
  background-color: #eee;
}
.form_format{
  padding: 20px 20px 20px 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  background-color: lightblue;
}
/*.info_bar_format0{*/
  /*width: 200px;*/
  /*display: inline-block;*/
  /*padding: 20px 20px 20px 20px;*/
  /*margin-right: 30px;*/

/*}*/
/*.info_bar_format1{*/
  /*width: 200px;*/
  /*display: inline-block;*/
  /*padding: 20px 20px 20px 20px;*/
  /*margin-right: 30px;*/
/*}*/
/*.info_bar_format2{*/
  /*width: 75%;*/
  /*padding: 20px 20px 20px 20px;*/
  /*margin-right: 30px;*/
/*}*/
.summary{
  border: 3px solid black;
  padding: 5px 5px 5px 5px;
}
table{
  background-color: beige;
  padding: 5px 5px 5px 5px;
}
td{
  width: 270px;
  padding: 5px 5px 5px 5px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font: normal 18px sans-serif;
  color: #333;
  background-color: #eee;
}

.container-fluid{
  padding:0;
  margin:0;
}

header{
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  padding: 25px 40px;
  background-color: #3A56B7;
  overflow: hidden;
}

header .limiter{
  max-width: 1000px;
  margin: 0px auto;
}

header h3{
  font: normal 24px/1.5 'Open Sans', sans-serif;
  float: left;
  color: #fff;
  margin:0;
}

header a{
  color:#fff;
  float: right;
  text-decoration: none;
  display: inline-block;
  padding: 13px 50px;
  border-radius: 3px;
  font: bold 14px/1 'Open Sans', sans-serif;
  text-transform: uppercase;
  background-color:#F05283;
  opacity: 0.9;
}

header a:hover{
  color: #fff;
  text-decoration: none;
  opacity: 1;
}

@media (max-width: 850px) {

  header h3{
    float: none;
    text-align: center;
  }

  header a{
    margin-top: 20px;
    float: none;
  }
}
.creditCardForm {
  max-width: 700px;
  background-color: #fff;
  margin: 100px auto;
  overflow: hidden;
  padding: 25px;
  color: #4c4e56;
}
.creditCardForm label {
  width: 100%;
  margin-bottom: 10px;
}
.creditCardForm .heading h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #4c4e56;
}
.creditCardForm .payment {
  float: left;
  font-size: 18px;
  padding: 10px 25px;
  margin-top: 20px;
  position: relative;
}
.creditCardForm .payment .form-group {
  float: left;
  margin-bottom: 15px;
}
.creditCardForm .payment .form-control {
  line-height: 40px;
  height: auto;
  padding: 0 16px;
}
.creditCardForm .owner {
  width: 63%;
  margin-right: 10px;
}
.creditCardForm .CVV {
  width: 35%;
}
.creditCardForm #card-number-field {
  width: 100%;
}
.creditCardForm #expiration-date {
  width: 49%;
}
.creditCardForm #credit_cards {
  width: 50%;
  margin-top: 25px;
  text-align: right;
}
.creditCardForm #pay-now {
  width: 100%;
  margin-top: 25px;
}
.creditCardForm .payment .btn {
  width: 100%;
  margin-top: 3px;
  font-size: 24px;
  background-color: #2ec4a5;
  color: white;
}
.creditCardForm .payment select {
  padding: 10px;
  margin-right: 15px;
}
.transparent {
  opacity: 0.2;
}
@media(max-width: 650px) {
  .creditCardForm .owner,
  .creditCardForm .CVV,
  .creditCardForm #expiration-date,
  .creditCardForm #credit_cards {
    width: 100%;
  }
  .creditCardForm #credit_cards {
    text-align: left;
  }
}
body{
  font: normal 18px sans-serif;
  color: #333;
  background-color: #eee;
}
.sugg_format{
  padding: 20px 20px 20px 20px;
  background-color: #0c5460;
}
.card_format{
  background-color: whitesmoke;
  border: 1px white;
  width: 300px;
  height: 450px;
  padding: 10px 10px 10px 10px;
  display: inline-block;
}
.img_format{
  height: 160px;
  width: 280px;
}
.body-format{
  padding: 10px 10px 10px 10px;
}
.card_highlight:hover{
  box-shadow: 0 8px 5px lightgreen;
}
table{
  margin-top: 20px;
  margin-left: 40px;
  align-items: center;
  align: center;
  padding: 20px 20px 20px 20px;
}
tr{
  padding: 20px 20px 20px 20px;
}
* {
  box-sizing: border-box;
}

/* Style the list */
.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
  background-color: #111;
  color: white;
  font-size: 14px;
}

/* List items */
.price li {
  border-bottom: 1px solid #eee;
  padding: 8px;
  text-align: center;
}

/* Grey list item */
.price .grey {
  background-color: #eee;
  font-size: 12px;
}

/* The "Sign Up" button */
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}
