<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  <title>Profile</title>
</head>
<body>
<app-navbar></app-navbar>

<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<p></p>
<div class="head_div">
  <h3 class="display-3">Welcome, {{username}}!</h3>
  <p>This is a summary of all your upcoming bookings through our website. We appreciate your business.</p>
</div>

    <table class="table table-hover">
      <tr data-toggle="collapse" data-target="#flight_details" class="table_head" *ngIf= "isFlight">
        <td colspan="4">
          <h3>FLIGHTS</h3>
        </td>
      </tr>
      <div id="flight_details" class="collapse" *ngIf= "isFlight">
        <table class="full">
      <tr class = "full">
        <td>
          Flight Carrier
        </td>
        <td>
          Leaving From Home Date
        </td>
        <td>
          Leaving From Vacation Date
        </td>
        <td>
          Price
        </td>
      </tr>
      <tr class = "full">
        <td>
          {{flight.flight.FlightCarrier}}
        </td>
        <td>
          {{flight.flight.startDate}}
        </td>
        <td>
          {{flight.flight.endDate}}
        </td>
        <td>
          ${{flight.flight.Fare}}
        </td>
      </tr>
    </table>
      </div>
      <tr data-toggle="collapse" data-target="#hotel_details" class="table_head">
        <td colspan="4">
          <h3 >HOTELS</h3>
        </td>
      </tr>
      <div id="hotel_details" class="collapse">
        <table class="full">
          <tr class = "full">
            <td>
              Type
            </td>
            <td>
              Check-In Date
            </td>
            <td>
              Check-Out Date
            </td>
          </tr>
          <tr class = "full">
            <td>
              Type
            </td>
            <td>
              Check-In Date
            </td>
            <td>
              Check-Out Date
            </td>
          </tr>
        </table>
      </div>
      <tr data-toggle="collapse" data-target="#car_details" class="table_head" *ngIf= "isCar">
        <td colspan="4">
          <h3 >CARS</h3>
        </td>
      </tr>
      <div id="car_details" class="collapse" *ngIf= "isCar">
        <table class="full">
          <tr>
            <td>
              Car Type
            </td>
            <td>
              Pick Up Date
            </td>
            <td>
              Drop Off Date
            </td>
            <td>
              Rent
            </td>
          </tr>
          <tr class = "full">
            <td>
              {{car.car.CarType}}
            </td>
            <td>
              {{car.car.startDate}}
            </td>
            <td>
              {{car.car.endDate}}
            </td>
            <td>
              {{car.car.Rent}}
            </td>
          </tr>
        </table>
      </div>
      <tr data-toggle="collapse" data-target="#cruise_details" class="table_head" *ngIf= "isCruise">
        <td colspan="4">
          <h3 >CRUISES</h3>
        </td>
      </tr>
      <div id="cruise_details" class="collapse" *ngIf= "isCruise">
        <table class="full">
          <tr>
            <td>
              Start Date
            </td>
            <td>
              End Date
            </td>
            <td>
              Price
            </td>
          </tr>
          <tr class = "full">
            <td>
              {{cruise.boat.startDate}}
            </td>
            <td>
              {{cruise.boat.endDate}}
            </td>
            <td>
              ${{cruise.boat.Fare}}
            </td>
          </tr>
        </table>
      </div>
      <tr id="cruise_details" class="collapse">
        <td colspan="2">
          Departing From - Arriving At
        </td>
        <td colspan="2">
          Departing Date - Arriving Date
        </td>
      </tr>
      <tr data-toggle="collapse" data-target="#passenger_details" class="table_head">
        <td colspan="8">
          <h3 >PASSENGERS</h3>
        </td>
      </tr>
      <div id="passenger_details" class="collapse">
        <table class="full">
          <tr>
            <td colspan="2">
              Name
            </td>
            <td colspan="2">
              Age
            </td>
            <td colspan="2">
              Gender
            </td>
          </tr>
          <tr *ngFor="let p of passengers">
            <td colspan="2">
              {{p.PassengerName}}
            </td>
            <td colspan="2">
              {{p.Age}}
            </td>
            <td colspan="2">
              {{p.Gender}}
            </td>
          </tr>
        </table>
      </div>
      <tr data-toggle="collapse" data-target="#payment_details" class="table_head">
        <td colspan="8">
          <h3 >PAYMENT</h3>
        </td>
      </tr>
      <div  id="payment_details" class="collapse">
        <table class="full">
          <tr>
            <td colspan="2">
              Type
            </td>
            <td colspan="2">
              Card Number
            </td>
            <td colspan="2">
              Expiration
            </td>
            <td colspan="2">
              CCV
            </td>
          </tr>
          <tr *ngIf= "paymentFound">
            <td colspan="2">
              {{payment.PaymentType}}
            </td>
            <td colspan="2">
              {{payment.CardNumber}}
            </td>
            <td colspan="2">
              {{payment.CardExpiration}}
            </td>
            <td colspan="2">
              {{payment.Ccv}}
            </td>
          </tr>
        </table>
      </div>
    </table>

    <div style="height: 300px; background-color: whitesmoke">

    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>
