<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <app-navbar></app-navbar>

    <div class="card" *ngFor="let cruise of cruises">

      <!-- Card image -->
      <img class="card-img-top img_format" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->

        <!-- Text -->
        <table>
          <tr>
            <td colspan="4">
              <h4 class="card-title center"><a>Cruise</a></h4>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <p class="card-text center">Source Location:</p>
            </td>
            <td colspan="2">
              <p class="card-text center">Destination Location:</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="card-text">City:</p>
            </td>
            <td>
              <p class="card-text">{{cruise.sc.CityName}}</p>
            </td>
            <td>
              <p class="card-text">City: </p>
            </td>
            <td>
              <p class="card-text">{{cruise.dc.CityName}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="card-text">State: </p>
            </td>
            <td>
              <p class="card-text">{{cruise.sc.State}}</p>
            </td>
            <td>
              <p class="card-text">State:</p>
            </td>
            <td>
              <p class="card-text">{{cruise.dc.State}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="card-text">Country: </p>
            </td>
            <td>
              <p class="card-text">{{cruise.sc.Country}}</p>
            </td>
            <td>
              <p class="card-text">Country:</p>
            </td>
            <td>
              <p class="card-text">{{cruise.dc.Country}}</p>
            </td>
          </tr>
          <tr>
            <td colspan="4" align="center">
              <a href="#" class="btn btn-primary center">View Details</a>
            </td>
          </tr>
        </table>

        <!-- Button -->


      </div>

    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
