body{
  font: normal 18px sans-serif;
  color: #333;
  background-color: #eee;
}
.img_format{
  width: 100%;
  height: 200px;
}
.card{
  margin: auto;
  width: 80%;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
  border: 1px solid floralwhite;
  background-color: white;
}
table{
  margin: auto;
  width: 60%;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
  background-color: white;
}
tr{
  alignment: center;
  border: 2px solid whitesmoke;
}
td{
  border: 1px solid wheat;
  padding: 3px 3px 3px 3px;

}
.center{
  text-align: center;
  align-content: center;
}
